page-home {

  .board {
    background-color: #a45632;
    color: #fff;
  }

  .gameStatus {
    margin: 0px;
    padding: 15px;
    color: #34495e;
    font-family: 'Dosis', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
  }
  
  .restart {
    background-color: #34495e;
    color: #fff;
    border: 0px;
    font-family: 'Dosis', Helvetica, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0px;
    padding: 15px;
    width: 100%;
  }

  .restart:hover {
    background-color: #c1cdcd;
    cursor: pointer;
  }

  .cell {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid #f4af78;
    font-size: 5em; 
    font-family: 'Gochi Hand', sans-serif;
    text-align: center;
  }
  
  .cell:hover {
    background-color: #c1cdcd;
  }
}
